html,
body,
h1,
h2,
h3,
p,
div,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #3333bb;
  color: #333;
  line-height: 1.6;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

button {
  font-family: "Arial", sans-serif;
}

.list {
  background-color: rgb(184, 63, 19);
  width: 60rem;

  padding: 1rem;
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  width: 100%;
}

.header-tittle {
  width: 60%;
  text-align: center;
}

.header-add {
  width: 20%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-add {
  padding: 0.5rem 1rem;
  border: solid 1px #333;
  border-radius: 0.75rem;
  margin: auto;

  cursor: pointer;
  background-color: transparent;
  color: #333;

  transition: 0.5s ease;
}

.button-add:hover {
  border: solid 1px #fff;
  transform: scale(1.1);
  color: #fff;
}

.tasks {
  width: 100%;
}

.task-list {
  width: 100%;
}

.col-date {
  width: 15%;
}

.col-name {
  width: 25%;
}

.col-description {
  width: 50%;
}

.col-actions {
  width: 10%;
}

td {
  text-align: center;
}

.list-actions {
  border: 0px;
  background-color: transparent;
}

.button-edit {
  border: 0px;
  background-color: transparent;
}

.button-edit:hover {
  transform: scale(1.25);
}

.button-delete {
  border: 0px;
  background-color: transparent;
}

.button-delete:hover {
  transform: scale(1.25);
}
